{% extends 'layout.html.twig' %}
{% block title %} Formulaire d'annonce {% endblock %}
{% block content %}
    <div class="container backG">
        <div class="form">
            <div class="row justify-content-center">
                <h2 class="titleForm"> Je dépose mon annonce !</h2>
            </div>
            <form action="/announce/add" method="post" enctype="multipart/form-data">
                <div class=" row justify-content-md-center">
                    <div class="col-md-7">
                        <label class="labelSearch" for="title">Titre de l'annonce</label>
                        <input class="form-control" type="text" name="title" id="title" placeholder="Mon titre"
                               required/>
                    </div>
                </div>
                <div class=" row justify-content-md-center">
                    <div class="col-md-7">
                        <label class="labelSearch" for="city">Ville</label>
                        <input class="form-control" type="text" name="city" id="city" placeholder="Ma ville"
                               required/>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="labelSearch" for="content">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" id="content" name="content"
                                      rows="3"
                                      placeholder="Ecrire son annonce" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-7">
                        <label class="labelSearch" for="price">Prix du bien pour une journée</label>
                        <input class="form-control" type="text" name="price" id="price" placeholder="150.00"
                               pattern="\d+(\.\d{2})?" required/>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-7">
                        <label class="labelSearch" for="capacity">{{ capacityErr }}Nombre de personnes</label>
                        <input class="form-control" type="text" name="capacity" id="capacity" placeholder="5"
                               pattern="\d{1,3}" required/>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-7">
                        <label class="labelSearch" for="good">Type de bien</label>
                        <select class="form-control" id="good" name="good">
                            <option value="Maison">Maison</option>
                            <option value="Appartement">Appartement</option>
                            <option value="Bureau">Bureau</option>
                            <option value="Restaurant">Restaurant</option>
                            <option value="Salle de musique">Salle de musique</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-7">
                        <label class="labelSearch" for="activity">Activité</label>
                        <select class="form-control" id="activity" name="activity">
                            <option value="Réunion">Réunion</option>
                            <option value="intérieur">Rassemblement intérieur</option>
                            <option value="extérieur">Rassemblement extérieur</option>
                            <option value="Musique">Musique</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-md-center filUp">
                    <input type="file" name="fichier[]" multiple="multiple" class="labelSearch"/>
                </div>
                <div class="row justify-content-md-center filUp">
                    <div>
                        <input type="checkbox" id="scales" name="feature" value="scales" required/>
                        <label class="labelSearch CGV" onclick="CGV()" for="scales">J'ai lu et accepte <a href="#" data-toggle="modal" data-target="#CDU">les mentions
                            légales</a> relatives au dépot de mon annonce</label>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <input type="submit" class="btn btn-outline-light btn-lg addBtn">
                </div>
            </form>
        </div>
    </div>


{% endblock %}